services:
  localstack:
    image: ghcr.io/olechowskimichal/localstack-pro:v7
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,dynamodb,sts,kms
      - DEBUG=0
      - PERSISTENCE=0
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 5s
      timeout: 5s
      retries: 10
